
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }

/* Shared Style  */
.green-color{
    color: #006A50;
}

.btn-pr{
    background-color: #006A50;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 17px 34px;
    border-radius: 8px;
}
.rad{
    border-radius: 24px;
}

  
/* Header Style */
.banner-container{
    width: 100%;
    height: 70vh;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1080px;
    height: 400px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    
    
}


/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}
.nav-title{
    font-weight: 700;
    font-size: 32px;    
}
.sign-in{
    padding: 15px 30px;
    background-color: white;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;

}
/* Banner */
.banner-pic{
    width: 474px;
    height: 400px;
}
.banner-grettings{
    font-size: 24px;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    font-family: "Fira Sans", serif;
    font-style: normal;
}
.banner-content{
    max-width: 622px;
}

/* Main */
.section-title{
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;

}
.section-description{
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #0E0E0E;
    opacity: 70%;

}
main{
    max-width: 1280px;
    margin: 0 auto;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision {
    padding: 32px;
}
.first-vision{
    background-color: #a9c6f8;
    border-radius: 16px;
}
.second-vision{
    background-color: #C6E4D6;
    border-radius: 16px;
}
.thirt-vision{
    background-color: #F7EBCF;
    border-radius: 16px;
}
.learn-btn1{
    background-color: #5490F5;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 11px 20px;
    border-radius: 8px;

}
.learn-btn2{
    background-color: #09A15C;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 11px 20px;
    border-radius: 8px;

}
.learn-btn3{
    background-color: #FFC239;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 11px 20px;
    border-radius: 8px;

}
/* News section */
.date-time {
    display: flex;
    gap: 32px;
     
}
.read-btn{
    background-color: #006A50;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 13px 26px;
    border-radius: 8px;
}
.news1{
    margin-top: 32px;
    display: flex;
    gap: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 48px;
}
.news2{
    margin-top: 32px;
    display: flex;
    gap: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 48px;
}
/* Donate Section */
.donate{
    margin-top: 40px;
    margin: 0 auto;
    text-align: center;
    
}
.ammounts{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    
    
}
.ap{
    padding: 40px;

}
.ammount1{
    width: 240px;
    height: 128px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    

    
    
}
.ac{
    background-color: #C6E4D6;
    border-radius: 16px;  
    width: 240px;
    height: 128px;
    text-align: center;
}
.form{
    margin-top: 32px;
}
input[type="text"]{
    margin: 0 auto;
    width: 1032px;
    height: 50px;
    display: block;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: larger;
    
}
/* Footer Styles */
footer{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}
.footer-content{
    text-align: center;
    margin: 0 auto;
}
.footer-container{

    height: 300px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
}
.fb{
    display: flex;
    gap: none;

}
input[type="email"]{
    margin-top: 24px;
    margin: 0 auto;
    width: 600px;
    height: 47px;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: larger;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.btn-pr2{
    height: 50px;
    width: 150px;
    background-color: #006A50;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    padding: 17px 34px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
